/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* https://www.modularscale.com/?18&px&1. major second */

/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*SS for Resume*/
html{
  font-size: 1.125em;  /* 18px */
  line-height: 1.2em; /* 18 * 120% = 21.6px/18px */
}

main{
    padding-left: 1.2em;
    padding-right: 1.2em;
}


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #dcdcdc;
  }


 #navigation {
  color: red;
  text-align: center;
  text-decoration: none;
  background-color: yellow;
  padding-bottom: 0.5em;
  padding-top: 0.5em;

}

/*heading elements*/
h1,h2,h3,h4{
  padding-top: 1em;
  padding-bottom: 1em;
  border: black;
  font-weight: bold;
  align-content: space-between;
}

h2{
  color: #dc143c;
}

li {
  margin-left: 1em;
}

/* Responsive Image Style */

img {
  display: flex;
  width: 90%;
  padding-left: 2em;
  box-sizing: border-box;
}

/*bullet points for sections in resumer */

.activities, .senator, .stem,
.skill, .social, .club, .toolbox {
  list-style-type: disc;
}

#about{
  text-align: center;
  padding: 5%;
  color: red;
  font-size: 1.602em;
}
/* footer element*/
#footer {
  clear: both;
  float: none;
  font-size: 0.702em;
  line-height: 1.2em ;
}

/*media screen for 626PX */
@media screen and (min-width: 39.125em) {

  h2{
    font-size: 1.602em;  /* 28.833px/18px */
    line-height: 1.2em; /* 28.833 * 120% = 34.59px/28.833px */
  }

  img {
    float: left;
    display: block;
    max-width: 300%;
    float: left;
    overflow: auto;
    box-sizing: border-box;
  }

  figcaption {
    clear: both;
  }

}

/* media screen for 1000px*/
@media screen and (min-width: 1000px) {

img {
  display: flex;
  width: 50%;
  align-content: center;
  overflow: auto;
}
figcaption {
  clear: both;
}

}
