/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* https://www.modularscale.com/?18&px&1. major second */

/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*SS for Resume*/
html{
  font-size: 1.125em;  /* 18px */
  line-height: 1.2em; /* 18 * 120% = 21.6px/18px */
}

main{
    padding-left: 20px;
}



body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1.222em o.5em;
  background-image: linear-gradient(to bottom,);
  color: #222;
  background-color: #dcdcdc;
  }


 #navigation {
  color: red;
  text-align: center;
  text-decoration: none;
  background-color: yellow;
  padding-bottom: 10px;
  padding-top: 10px;

}

h1,h2,h3,h4{
  font-family: 1.222em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  border: black;
  font-weight: bold;
}

h2{
  color: #dc143c;
}

#about{
  text-align: center;
  padding: 5%;
  color: red;
  font-size: 1.602em;

}

/* Responsive Image Style */

img {
  display: block;
  width: 100%;

}

.images {
  background: #222;
  padding: 5px;
}

.images li {
  padding: 5px;
}

.toolbox {
  list-style-type: disc;
}

.stem {
  list-style-type: disc;
}



.activities, .Senator, .skill, .social {
  list-style-type: disc;
}

#footer {
  clear: both;
  float: none;
  font-size: 0.702em;
  line-height: 1.2em ;
}

/* 626PX */
@media screen and (min-width: 39.125em) {

  h2{
    font-size: 1.602em;  /* 28.833px/18px */
    line-height: 1.2em; /* 28.833 * 120% = 34.59px/28.833px */
  }

  .images li {
    float: left;
    display: block;
    max-width: 300%;
    float: left;
    overflow: auto;
  }
/*
  figure {
    width: 40%;
    height: 40%;
    background-position: 25% 75%;
    */
  }

}

@media screen and (min-width: 760px) {
.images li {
  width: 33.33%;

}

}
